 main h2 {
    text-decoration: underline;
}

article img {
    border: 5px double black;
}

figure {
    display: inline-block;
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

header {
   background-color: rgb(100, 100, 100);
   color: white;
   padding: 50px;
   margin-bottom:20px;
}

footer {
    border-top: 2px solid gray;
    text-align: center;
    font-size: smaller;
    color: gray;
    padding: 15px;
}

.navbar-brand {
    margin-left: 20px;
}

.nav-item {
    margin-left: 40px;
}


.img-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px; /* Add padding for better visual appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow for a subtle effect */
    z-index: 1000  /* Set a high z-index to ensure it appears above other elements */
    /* Add any additional styling for the popup here */
}

